
.card {
  transition: all 0.3s ease;
  border-color: var(--border-soft) !important;
  background-color: var(--bg-surface) !important;
}

.card-dark {
  border-color: var(--border-soft) !important;
  background-color: var(--bg-main) !important;
  border-radius: var(--bs-border-radius) !important;
}
